#contact-about-me .box {
  padding: 2em;
  color: #fff;
}

.box:first-child {
  background: #2690d4;
}

#about-me {
  background: #3d6cb9;

  img {
    display: block;
    width: 150px;
    margin: auto;
    padding-top: 20px;
  }
}
