.box:first-child {
  background: #fff;
}

#contact-me {
  padding: 2em;
  color: #000;
}

#about-me {
  background: #3d6cb9;
  padding: 2em;
  color: #fff;

  img {
    display: block;
    width: 150px;
    margin: auto;
    padding-top: 20px;
  }
}
