html {
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size:20px;
}

img {
  align-self:right;
}

a {
  text-align: center;
}

.navbar {
  display:grid;
  background-color: whitesmoke;
}
