/*Important*/

html {
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
}
/*navbar*/

.navbar {
  display: grid;
  background-color: whitesmoke;
}

/*Home*/

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 20px;
}

img {
  align-self: right;
}

a {
  text-align: center;
}

/*About*/

.section-2 {
  display: grid;
}

.testomonials {
  padding: 35px;
}

.regsiter {
  text-align: center;
  margin: 15px;
}

.Main-content {
  text-align: center;
}

input {
  padding: 10px;
  border-radius: 5px;
}

.How-to-contact-me {
  padding: 35px;
}
