/*Important*/

html {
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
}
/*navbar*/

.navbar {
  display: grid;
  background-color: whitesmoke;
}

/*Section 1*/

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 20px;
}

img {
  align-self: right;
}

a {
  text-align: center;
}

/*Section 2*/

.section-2 {
  display: grid;
}
